### Hidden ###
.*

### Markdown ###
*.md

### Docker ###
Dockerfile
Dockerfile*

### Gradle ###
!.gradle
build/
**/build/
**/build/*
!application/build/libs

### Maven ###
target/
**/target/
**/target/*

### IntelliJ IDEA ###
out/
**/out/
**/out/*

### Node ###
node/
**/node/
**/node/*
node_modules/
**/node_modules/
**/node_modules/*
web_modules/
**/web_modules/
**/web_modules/*
