# dev, uat, prod

export K8S_NAMESPACE=""
export DEPLOY_ENV=""
export RESOURCE_NAME_PREFIX="geoss-$DEPLOY_ENV"

export DOCKER_IMAGE_TAG=""

export INGRESS_ALLOWED_CIDR=""

export UI_DOMAIN_NAME=""
export UI_WAF_POLICY=""
export LANDING_PAGE_DOMAIN_NAME=""
export LANDING_PAGE_WAF_POLICY=""
export IDP_DOMAIN_NAME=""
export IDP_WAF_POLICY=""
export ADMIN_DOMAIN_NAME=""
export ADMIN_WAF_POLICY=""

export NEXT_AUTH_SECRET=""

export BASIC_AUTH_ENABLED=""
export MAINTENANCE_ON=""
export MAINTENANCE_WHITELIST=""

export SERVICES_PROVIDERS=""

export ELS_KIBANA_PASSWORD=""
export ELS_GEOSS_PASSWORD=""

export MARIADB_ROOT_PASSWORD=""
export DATABASE_USERNAME_APP=""
export DATABASE_PASSWORD_APP=""

export DATABASE_USERNAME_MATOMO=""
export DATABASE_PASSWORD_MATOMO=""
export MATOMO_DATABASE_NAME=""
export MATOMO_USERNAME=""
export MATOMO_PASSWORD=""

# Keycloak secrets (initial values has to be changed according to instalation instruction)
export KEYCLOAK_CLIENT_SECRET_ADMIN="uTUIINx6U7qe6lcTcrRUdgYqVKo08dXs"
export KEYCLOAK_CLIENT_SECRET_CONTENTS="uTUIINx6U7qe6lcTcrRUdgYqVKo08dXs"
export KEYCLOAK_CLIENT_SECRET_PERSONALDATA="uTUIINx6U7qe6lcTcrRUdgYqVKo08dXs"
export KEYCLOAK_CLIENT_SECRET_SETTINGS="uTUIINx6U7qe6lcTcrRUdgYqVKo08dXs"

# Container resource limits
export ADMIN_INSTANCES="1"
export ADMIN_MEMORY_LIMIT="4Gi"
export ADMIN_CPU_REQUEST="1"
export ADMIN_MEMORY_REQUEST="500Mi"

export CONTENTS_INSTANCES="1"
export CONTENTS_MEMORY_LIMIT="4Gi"
export CONTENTS_CPU_REQUEST="1"
export CONTENTS_MEMORY_REQUEST="500Mi"

export DB_INSTANCES="1"
export DB_MEMORY_LIMIT="4Gi"
export DB_CPU_REQUEST="1"
export DB_MEMORY_REQUEST="500Mi"

export KIBANA_INSTANCES="1"
export KIBANA_MEMORY_LIMIT="4Gi"
export KIBANA_CPU_REQUEST="1"
export KIBANA_MEMORY_REQUEST="500Mi"

export MATOMO_INSTANCES="1"
export MATOMO_MEMORY_LIMIT="4Gi"
export MATOMO_CPU_REQUEST="1"
export MATOMO_MEMORY_REQUEST="500Mi"

export NGINX_INSTANCES="1"
export NGINX_MEMORY_LIMIT="4Gi"
export NGINX_CPU_REQUEST="1"
export NGINX_MEMORY_REQUEST="500Mi"

export PERSONALDATA_INSTANCES="1"
export PERSONALDATA_MEMORY_LIMIT="4Gi"
export PERSONALDATA_CPU_REQUEST="1"
export PERSONALDATA_MEMORY_REQUEST="500Mi"

export SETTINGS_INSTANCES="1"
export SETTINGS_MEMORY_LIMIT="4Gi"
export SETTINGS_CPU_REQUEST="1"
export SETTINGS_MEMORY_REQUEST="500Mi"


# Storage configuration

## GEOSS-contents
export CONTENTS_REPOSITORY_SHARE_ACCOUNT_KEY=""
export CONTENTS_REPOSITORY_SHARE_ACCOUNT_NAME=""
export CONTENTS_REPOSITORY_SHARE_NAME=""
export CONTENTS_REPOSITORY_SHARE_RESOURCE_GROUP=""
export CONTENTS_REPOSITORY_SHARE_SERVER=""

## GEOSS-db
export DB_VOLUME_RESOURCE_ID=""
