server {
  listen *:8080;
  server_name ${REDIRECT_FROM};

  error_log /dev/stderr;
  access_log /dev/stdout timed_combined;

  ###BLOCK_ACCESS###

  return 301 https://${REDIRECT_TO}$request_uri;
}

  