server {
  listen *:8080;
  server_name ${UI_DOMAIN_NAME_REDIRECT};

  error_log /dev/stderr;
  access_log /dev/stdout timed_combined;

  ###BLOCK_ACCESS###

  return 301 https://${UI_DOMAIN_NAME}$request_uri;
}

  