<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Workflow relation denied</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="#{user.body.greeting}">Dear User,</p>
<p><span th:text="#{relation.denied.body.span1}">The relation </span><span th:text="${id}"></span> <span th:text="${name}"></span> <span th:text="#{relation.denied.body.span2}"> that you have submitted has been reviewed and rejected with a comment by the Administrator. You can apply corrections and submit the relation again or remove it from the system.</span></p>
<a th:href="@{${relationUrl}}" href="#"><span th:text="${relationUrl}"></span></a>
<p th:text="#{body.closing}">Thank you,</p>
<p th:text="#{body.signature}">GEOSS Administrator</p>
</body>
</html>
